data/enamine_acids/enamine_acids_tanimoto_similarities.txt
data/enamine_acids/rdkit_conformers/enamine_acids_filtered_aligned_rdkit.sdf 
data/enamine_acids/enamine_acids_filtered_clipped_omega.sdf
data/enamine_acids/enamine_acids_filtered_aligned.sdf
data/enamine_acids/enamine_acids_filtered_clipped_conformers.sdf
data/enamine_acids/rdkit_conformers/enamine_acids_filtered_clipped_rdkit.sdf 
data/enamine_acids/enamine_acids_tanimoto_similarities.txt
data/enamine_acids/rdkit_conformers/enamine_acids_filtered_aligned_rdkit.sdf 
data/enamine_acids/enamine_acids_filtered_clipped_omega.sdf
data/enamine_acids/enamine_acids_filtered_aligned.sdf
data/enamine_acids/enamine_acids_filtered_clipped_conformers.sdf
data/enamine_acids/rdkit_conformers/enamine_acids_filtered_clipped_rdkit.sdf 
data/enamine_acids/rdkit_conformers/enamine_acids_filtered_clipped_rdkit.sdf
data/enamine_acids/rdkit_conformers/enamine_acids_filtered_aligned_rdkit.sdf

data/enamine_acids/enamine_acids_tanimoto_similarities.txt
data/enamine_acids/rdkit_conformers/enamine_acids_filtered_aligned_rdkit.sdf 
data/enamine_acids/enamine_acids_filtered_clipped_omega.sdf
data/enamine_acids/enamine_acids_filtered_aligned.sdf
data/enamine_acids/enamine_acids_filtered_clipped_conformers.sdf
data/enamine_acids/rdkit_conformers/enamine_acids_filtered_clipped_rdkit.sdf 
data/enamine_acids/rdkit_conformers/enamine_acids_filtered_clipped_rdkit.sdf
data/enamine_acids/rdkit_conformers/enamine_acids_filtered_aligned_rdkit.sdf


